<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">News For You</h1>
    <p class="lead text-center">Toronto Star Edition</p>
  </div>
</div>

<div id="articles">

</div>