.jumbotron {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  box-shadow: 10px 5px 20px 2px lightslategrey;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  background: linear-gradient(#333, black);
  opacity: 0.7;
}

.jumbotron .background-image {
  height: 100%;
  background-image: url(../img/newspaper.jpg);
  background-size: cover;
}

.jumbotron .caption {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption p {
  color: white;
  font-size:200%;
}

.jumbotron .caption h1 {
  color: white;
  font-size:400%;
}

.article-container {
  padding-bottom: 25px;
}

.card {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
  margin: 20px 0;
}

.card .card-header {
  background-color: #2196f3;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card .card-header h3 {
  color: white;
}

.card .card-header .article-link {
  color: white;
  display: inline-block;
  width: 80%;
}

.card .card-header .btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card .card-body {
  font-size: 16px;
}
